In [2]:
import pandas as pd

In [3]:
#test
data = {
    '松田': [10,20],
    '浅木': [30,40]
}

print(data)
print(type(data))
df = pd.DataFrame(data)
print(df)
print(type(df))
df
df.shape

{'松田': [10, 20], '浅木': [30, 40]}
<class 'dict'>
   松田  浅木
0  10  30
1  20  40
<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [4]:
#test
data = {
    '松田': [10,20],
    '浅木': [30,40]
}

df = pd.DataFrame(data)
print(df)
df.index=['one','two']
print(df)
df.columns=['matsuda','asagi']
print(df)
print(df.index)
print(df.columns)

   松田  浅木
0  10  30
1  20  40
     松田  浅木
one  10  30
two  20  40
     matsuda  asagi
one       10     30
two       20     40
Index(['one', 'two'], dtype='object')
Index(['matsuda', 'asagi'], dtype='object')

In [ ]:
data = [
    [160,161],
    [160,175]
]

df2=pd.DataFrame(data,index = ["4月","5月"],columns=["松田の労働","浅木の労働"])

In [8]:
df = pd.read_csv('./datafiles/KvsT.csv')
print(df.head(3))

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [10]:
df['身長'].head(3)

0    170
1    172
2    170
Name: 身長, dtype: int64

In [16]:
col = ["身長",'体重']
df[col].head(3)

    身長  体重
0  170  60
1  172  65
2  170  60

In [18]:
type(df['派閥'])

pandas.core.series.Series

In [20]:
df['派閥']

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [22]:
xcol = ['身長','体重','年代']
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [24]:
t = df['派閥']
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [27]:
from sklearn import tree

In [29]:
model = tree.DecisionTreeClassifier(random_state=0)
model.fit(x,t)

DecisionTreeClassifier(random_state=0)

In [39]:
taro = [[170,70,20],[150,40,30]]
model.predict(taro)

C:\Users\so12r\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'たけのこ'], dtype=object)

In [40]:
matsuda = [172,65,20]
asagi = [158,48,20]
new_data = [matsuda,asagi]

model.predict(new_data)

C:\Users\so12r\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'たけのこ'], dtype=object)

In [41]:
model.score(x,t)

1.0

In [48]:
import pickle
with open("kinokotakenoko_v2.pkl","wb") as f:
    pickle.dump(model,f)

In [49]:
import pickle
with open("kinokotakenoko_v2.pkl","rb") as f:
    model2 = pickle.load(f)

In [50]:
suzuki = [[180,75,30]]
model2.predict(suzuki)

C:\Users\so12r\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['たけのこ'], dtype=object)