In [1]:
import pandas as pd
from sklearn import tree
from sklearn.model_selection import train_test_split
df = pd.read_csv("..\datafiles\Survived.csv")
df.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

In [2]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.shape

(891, 11)

In [5]:
df['Age'] = df['Age'].fillna(df["Age"].mean())
df["Embarked"] = df['Embarked'].fillna(df['Embarked'].mode())

In [6]:
col = ['Pclass','Age','SibSp','Parch','Fare']

x = df[col]
t = df['Survived']

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,t,test_size=0.2,random_state=0)
x_train.shape

(712, 5)

In [8]:
model = tree.DecisionTreeClassifier(max_depth=5,random_state=0,class_weight='balanced')
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=5, random_state=0)

In [9]:
model.score(X=x_test,y=y_test)

0.7374301675977654

In [10]:
def learn(x,t,depth=3):
    x_train,x_test,y_train,y_test = train_test_split(x,t,test_size=0.2,random_state=0)
    model = tree.DecisionTreeClassifier(max_depth=depth,random_state=0,class_weight='balanced')
    model.fit(x_train,y_train)
    
    score = model.score(X=x_train,y=y_train)
    score2 = model.score(X=x_test,y=y_test)
    
    return round(score,3),round(score2,3),model

In [11]:
for j in range(1,15):
    train_score,test_score,model = learn(x,t,depth=j)
    sentence = '訓練データの正解率{}'
    sentence2 = '訓練データの正解率{}'
    total_sentence='深さ{}'+sentence+sentence2
    print(total_sentence.format(j,train_score,test_score))

深さ1訓練データの正解率0.659訓練データの正解率0.704
深さ2訓練データの正解率0.699訓練データの正解率0.732
深さ3訓練データの正解率0.704訓練データの正解率0.737
深さ4訓練データの正解率0.698訓練データの正解率0.726
深さ5訓練データの正解率0.722訓練データの正解率0.737
深さ6訓練データの正解率0.77訓練データの正解率0.698
深さ7訓練データの正解率0.771訓練データの正解率0.648
深さ8訓練データの正解率0.781訓練データの正解率0.631
深さ9訓練データの正解率0.83訓練データの正解率0.704
深さ10訓練データの正解率0.851訓練データの正解率0.687
深さ11訓練データの正解率0.878訓練データの正解率0.676
深さ12訓練データの正解率0.892訓練データの正解率0.654
深さ13訓練データの正解率0.909訓練データの正解率0.654
深さ14訓練データの正解率0.92訓練データの正解率0.654

In [12]:
df2= pd.read_csv("..\datafiles\Survived.csv")
print(df2['Age'].mean())
print(df2['Age'].median())

29.69911764705882
28.0

In [13]:
df2.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df2.groupby('Survived').mean()['Age']

C:\Users\so12r\AppData\Local\Temp\ipykernel_31492\2585321801.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby('Survived').mean()['Age']

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [15]:
df2.groupby('Pclass').mean()['Age']

C:\Users\so12r\AppData\Local\Temp\ipykernel_31492\1601801207.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2.groupby('Pclass').mean()['Age']

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [16]:
pd.pivot_table(df2,index='Survived',columns='Pclass',values='Age')

Pclass            1          2          3
Survived
0         43.695312  33.544444  26.555556
1         35.368197  25.901566  20.646118

In [17]:
pd.pivot_table(df2,index="Survived",columns="Pclass",values="Age",aggfunc=max)

Pclass       1     2     3
Survived
0         71.0  70.0  74.0
1         80.0  62.0  63.0

In [18]:
is_null = df2["Age"].isnull()

df2.loc[(df2["Pclass"] == 1) & (df2['Survived'] == 0) & (is_null),'Age'] = 43
df2.loc[(df2["Pclass"] == 1) & (df2['Survived'] == 1) & (is_null),'Age'] = 35

df2.loc[(df2["Pclass"] == 2) & (df2['Survived'] == 0) & (is_null),'Age'] = 33
df2.loc[(df2["Pclass"] == 2) & (df2['Survived'] == 1) & (is_null),'Age'] = 25

df2.loc[(df2["Pclass"] == 3) & (df2['Survived'] == 0) & (is_null),'Age'] = 26
df2.loc[(df2["Pclass"] == 3) & (df2['Survived'] == 1) & (is_null),'Age'] = 20