In [4]:
import pandas as pd

In [5]:
data = {
    "松田の労働時間" : [160,160],
    "浅木の労働時間" : [161,175]
}

df = pd.DataFrame(data)
df

   松田の労働時間  浅木の労働時間
0      160      161
1      160      175

In [6]:
print(type(df))
df.shape

<class 'pandas.core.frame.DataFrame'>

(2, 2)

In [7]:
df.index=["4月","5月"]
df

    松田の労働時間  浅木の労働時間
4月      160      161
5月      160      175

In [10]:
df.columns=["松田の労働(h)","浅木の労働(h)"]
df

    松田の労働(h)  浅木の労働(h)
4月       160       161
5月       160       175

In [11]:
print(df.index)
print(df.columns)

Index(['4月', '5月'], dtype='object')
Index(['松田の労働(h)', '浅木の労働(h)'], dtype='object')

In [13]:
data = [
    [160,161],
    [160,175]
]

df2=pd.DataFrame(data,index = ["4月","5月"],columns=["松田の労働","浅木の労働"])

In [15]:
df=pd.read_csv(".\datafiles\kvst.csv")
df.head(3)

    身長  体重  年代    派閥
0  170  60  10   きのこ
1  172  65  20   きのこ
2  170  60  30  たけのこ

In [16]:
df["身長"]

0     170
1     172
2     170
3     170
4     177
5     168
6     169
7     170
8     180
9     170
10    165
11    170
12    175
13    170
14    170
15    155
16    160
17    170
18    175
Name: 身長, dtype: int64

In [17]:
col = ["身長","体重"]
df[col]

     身長  体重
0   170  60
1   172  65
2   170  60
3   170  65
4   177  65
5   168  55
6   169  65
7   170  62
8   180  70
9   170  68
10  165  65
11  170  72
12  175  77
13  170  65
14  170  65
15  155  56
16  160  56
17  170  65
18  175  60

In [18]:
type(df["派閥"])

pandas.core.series.Series

In [19]:
df["派閥"]

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [20]:
xcol=["身長","体重","年代"]
x = df[xcol]
x

     身長  体重  年代
0   170  60  10
1   172  65  20
2   170  60  30
3   170  65  40
4   177  65  10
5   168  55  20
6   169  65  30
7   170  62  40
8   180  70  10
9   170  68  20
10  165  65  40
11  170  72  20
12  175  77  40
13  170  65  30
14  170  65  30
15  155  56  20
16  160  56  20
17  170  65  40
18  175  60  20

In [21]:
t = df["派閥"]
t

0      きのこ
1      きのこ
2     たけのこ
3      きのこ
4     たけのこ
5      きのこ
6     たけのこ
7     たけのこ
8     たけのこ
9      きのこ
10    たけのこ
11     きのこ
12    たけのこ
13    たけのこ
14    たけのこ
15     きのこ
16    たけのこ
17     きのこ
18    たけのこ
Name: 派閥, dtype: object

In [22]:
from sklearn import tree

In [23]:
model = tree.DecisionTreeClassifier(random_state=0)
model.fit(x,t)

DecisionTreeClassifier(random_state=0)

In [24]:
taro = [[170,70,20]]
model.predict(taro)

C:\Users\DE\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ'], dtype=object)

In [25]:
matsuda = [172,65,20]
asagi = [158,48,20]
new_data = [matsuda,asagi]

model.predict(new_data)

C:\Users\DE\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['きのこ', 'たけのこ'], dtype=object)

In [26]:
model.score(x,t)

1.0

In [27]:
import pickle
with open("KinokoTakenoko.pkl","wb") as f:
    pickle.dump(model,f)

In [29]:
import pickle
with open("KinokoTakenoko.pkl","rb") as f:
    model2 = pickle.load(f)

In [30]:
suzuki = [[180,75,30]]
model2.predict(suzuki)

C:\Users\DE\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['たけのこ'], dtype=object)