In [15]:
import pandas as pd

# 第一部：データの確認

## 1.CSVの読み込み

In [16]:
df_enq = pd.read_csv("enquete_sample.csv",index_col="回答者No.")

In [17]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

## 2.一部の行/列の抽出

In [18]:
df_enq.head()

        性別   年代  世帯人数     年収  満足度
回答者No.
No.1    男性  40代     4  852.0    7
No.2    男性  30代     2  529.0    6
No.3    男性  20代     1  341.0    3
No.4    女性  40代     2  380.0    5
No.5    男性  50代     5  808.0    8

In [19]:
df_enq.head(10)

        性別   年代  世帯人数     年収  満足度
回答者No.
No.1    男性  40代     4  852.0    7
No.2    男性  30代     2  529.0    6
No.3    男性  20代     1  341.0    3
No.4    女性  40代     2  380.0    5
No.5    男性  50代     5  808.0    8
No.6    男性  50代     4  905.0   10
No.7    女性  50代     3  621.0    5
No.8    女性  50代     3  621.0    5
No.9    男性  20代     1  209.0    1
No.10   男性  NaN     3  517.0    8

In [20]:
df_enq.tail()

        性別   年代  世帯人数     年収  満足度
回答者No.
No.56   男性  20代     2    NaN    4
No.57   男性  20代     2  343.0    9
No.58   女性  30代     1  510.0    6
No.59   男性  50代     4  969.0   10
No.60   男性  20代     1  448.0    3

In [21]:
df_enq.tail(8)

        性別   年代  世帯人数     年収  満足度
回答者No.
No.53   男性  50代     3  641.0    1
No.54   男性  40代     5  947.0    6
No.55   女性  40代     4  805.0    9
No.56   男性  20代     2    NaN    4
No.57   男性  20代     2  343.0    9
No.58   女性  30代     1  510.0    6
No.59   男性  50代     4  969.0   10
No.60   男性  20代     1  448.0    3

In [22]:
df_enq[5:10]

        性別   年代  世帯人数     年収  満足度
回答者No.
No.6    男性  50代     4  905.0   10
No.7    女性  50代     3  621.0    5
No.8    女性  50代     3  621.0    5
No.9    男性  20代     1  209.0    1
No.10   男性  NaN     3  517.0    8

In [23]:
df_enq[0:5]

        性別   年代  世帯人数     年収  満足度
回答者No.
No.1    男性  40代     4  852.0    7
No.2    男性  30代     2  529.0    6
No.3    男性  20代     1  341.0    3
No.4    女性  40代     2  380.0    5
No.5    男性  50代     5  808.0    8

In [24]:
df_enq[["性別","年代","満足度","世帯人数"]]

        性別   年代  満足度  世帯人数
回答者No.
No.1    男性  40代    7     4
No.2    男性  30代    6     2
No.3    男性  20代    3     1
No.4    女性  40代    5     2
No.5    男性  50代    8     5
No.6    男性  50代   10     4
No.7    女性  50代    5     3
No.8    女性  50代    5     3
No.9    男性  20代    1     1
No.10   男性  NaN    8     3
No.11   男性  40代    6     4
No.12   男性  20代    7     2
No.13   女性  50代    5     4
No.14   女性  30代    5     1
No.15   女性  40代    6     3
No.16   男性  50代    8     3
No.17   女性  50代    1     4
No.18   女性  30代    7     3
No.19   男性  40代    6     3
No.20   男性  40代    9     5
No.21   女性  30代    6     3
No.22   女性  20代    9     1
No.23   女性  50代    6     3
No.24   男性  40代    3     4
No.25   女性  30代    8     3
No.26   男性  30代    7     4
No.27   男性  50代    7     4
No.28   女性  20代    2     1
No.29   男性  20代    4     1
No.30   男性  50代    4     5
No.31   男性  40代    3     4
No.32   女性  30代    5     1
No.33   男性  40代    7     4
No.34   男性  20代    8     1
No.35   男性  30代    5     4
No.36   女性  40代    8     5
No.37   男性  40代    6     4
No.38   女性  30代    7     4
No.39   男性  50代    8     4
No.40   女性  40代    7     4
No.41   男性  30代    6     3
No.42   男性  NaN    6     2
No.43   女性  50代    6     5
No.44   男性  40代    2     4
No.45   女性  50代    4     4
No.46   女性  40代    6     3
No.47   男性  20代    6     3
No.48   女性  40代    3     3
No.49   男性  20代    3     1
No.50   男性  40代    1     2
No.51   女性  20代    6     1
No.52   女性  40代    3     3
No.53   男性  50代    1     3
No.54   男性  40代    6     5
No.55   女性  40代    9     4
No.56   男性  20代    4     2
No.57   男性  20代    9     2
No.58   女性  30代    6     1
No.59   男性  50代   10     4
No.60   男性  20代    3     1

In [25]:
df_enq[5:10][["性別","年代","満足度","世帯人数"]]

        性別   年代  満足度  世帯人数
回答者No.
No.6    男性  50代   10     4
No.7    女性  50代    5     3
No.8    女性  50代    5     3
No.9    男性  20代    1     1
No.10   男性  NaN    8     3

## 3.条件による行の抽出（フィルター）

In [27]:
df_enq[df_enq["性別"]=="女性"]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.4    女性  40代     2   380.0    5
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.25   女性  30代     3   413.0    8
No.28   女性  20代     1   181.0    2
No.32   女性  30代     1     NaN    5
No.36   女性  40代     5   911.0    8
No.38   女性  30代     4   470.0    7
No.40   女性  40代     4   631.0    7
No.43   女性  50代     5  1100.0    6
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.48   女性  40代     3   459.0    3
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.55   女性  40代     4   805.0    9
No.58   女性  30代     1   510.0    6

In [28]:
df_enq[df_enq["年収"]>=500]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.13   女性  50代     4   501.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.24   男性  40代     4   811.0    3
No.27   男性  50代     4   557.0    7
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.50   男性  40代     2   698.0    1
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10

In [29]:
df_enq[(df_enq["年収"]>=500 )&(df_enq["性別"]=="男性")]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.16   男性  50代     3   615.0    8
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.24   男性  40代     4   811.0    3
No.27   男性  50代     4   557.0    7
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.35   男性  30代     4  1203.0    5
No.37   男性  40代     4   758.0    6
No.39   男性  50代     4   671.0    8
No.44   男性  40代     4  3000.0    2
No.47   男性  20代     3   521.0    6
No.50   男性  40代     2   698.0    1
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.59   男性  50代     4   969.0   10

In [30]:
df_enq[(df_enq["年代"]>="50代" )|(df_enq["性別"]=="男性")]

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.37   男性  40代     4   758.0    6
No.39   男性  50代     4   671.0    8
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.47   男性  20代     3   521.0    6
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

## 4.データの並び替え（ソート）

In [31]:
df_enq.sort_values("年収")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.9    男性  20代     1   209.0    1
No.34   男性  20代     1   263.0    8
No.22   女性  20代     1   286.0    9
No.49   男性  20代     1   308.0    3
No.51   女性  20代     1   312.0    6
No.3    男性  20代     1   341.0    3
No.57   男性  20代     2   343.0    9
No.4    女性  40代     2   380.0    5
No.14   女性  30代     1   391.0    5
No.26   男性  30代     4   402.0    7
No.12   男性  20代     2   403.0    7
No.25   女性  30代     3   413.0    8
No.23   女性  50代     3   429.0    6
No.18   女性  30代     3   443.0    7
No.60   男性  20代     1   448.0    3
No.48   女性  40代     3   459.0    3
No.38   女性  30代     4   470.0    7
No.41   男性  30代     3   485.0    6
No.13   女性  50代     4   501.0    5
No.19   男性  40代     3   502.0    6
No.58   女性  30代     1   510.0    6
No.10   男性  NaN     3   517.0    8
No.47   男性  20代     3   521.0    6
No.2    男性  30代     2   529.0    6
No.17   女性  50代     4   544.0    1
No.27   男性  50代     4   557.0    7
No.11   男性  40代     4   560.0    6
No.33   男性  40代     4   562.0    7
No.52   女性  40代     3   582.0    3
No.46   女性  40代     3   610.0    6
No.16   男性  50代     3   615.0    8
No.8    女性  50代     3   621.0    5
No.7    女性  50代     3   621.0    5
No.40   女性  40代     4   631.0    7
No.53   男性  50代     3   641.0    1
No.39   男性  50代     4   671.0    8
No.45   女性  50代     4   673.0    4
No.15   女性  40代     3   679.0    6
No.50   男性  40代     2   698.0    1
No.21   女性  30代     3   707.0    6
No.37   男性  40代     4   758.0    6
No.55   女性  40代     4   805.0    9
No.5    男性  50代     5   808.0    8
No.31   男性  40代     4   811.0    3
No.24   男性  40代     4   811.0    3
No.1    男性  40代     4   852.0    7
No.30   男性  50代     5   891.0    4
No.20   男性  40代     5   900.0    9
No.6    男性  50代     4   905.0   10
No.36   女性  40代     5   911.0    8
No.54   男性  40代     5   947.0    6
No.59   男性  50代     4   969.0   10
No.43   女性  50代     5  1100.0    6
No.35   男性  30代     4  1203.0    5
No.44   男性  40代     4  3000.0    2
No.32   女性  30代     1     NaN    5
No.42   男性  NaN     2     NaN    6
No.56   男性  20代     2     NaN    4

In [33]:
df_enq.sort_values("年収",ascending=False)

        性別   年代  世帯人数      年収  満足度
回答者No.
No.44   男性  40代     4  3000.0    2
No.35   男性  30代     4  1203.0    5
No.43   女性  50代     5  1100.0    6
No.59   男性  50代     4   969.0   10
No.54   男性  40代     5   947.0    6
No.36   女性  40代     5   911.0    8
No.6    男性  50代     4   905.0   10
No.20   男性  40代     5   900.0    9
No.30   男性  50代     5   891.0    4
No.1    男性  40代     4   852.0    7
No.31   男性  40代     4   811.0    3
No.24   男性  40代     4   811.0    3
No.5    男性  50代     5   808.0    8
No.55   女性  40代     4   805.0    9
No.37   男性  40代     4   758.0    6
No.21   女性  30代     3   707.0    6
No.50   男性  40代     2   698.0    1
No.15   女性  40代     3   679.0    6
No.45   女性  50代     4   673.0    4
No.39   男性  50代     4   671.0    8
No.53   男性  50代     3   641.0    1
No.40   女性  40代     4   631.0    7
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.16   男性  50代     3   615.0    8
No.46   女性  40代     3   610.0    6
No.52   女性  40代     3   582.0    3
No.33   男性  40代     4   562.0    7
No.11   男性  40代     4   560.0    6
No.27   男性  50代     4   557.0    7
No.17   女性  50代     4   544.0    1
No.2    男性  30代     2   529.0    6
No.47   男性  20代     3   521.0    6
No.10   男性  NaN     3   517.0    8
No.58   女性  30代     1   510.0    6
No.19   男性  40代     3   502.0    6
No.13   女性  50代     4   501.0    5
No.41   男性  30代     3   485.0    6
No.38   女性  30代     4   470.0    7
No.48   女性  40代     3   459.0    3
No.60   男性  20代     1   448.0    3
No.18   女性  30代     3   443.0    7
No.23   女性  50代     3   429.0    6
No.25   女性  30代     3   413.0    8
No.12   男性  20代     2   403.0    7
No.26   男性  30代     4   402.0    7
No.14   女性  30代     1   391.0    5
No.4    女性  40代     2   380.0    5
No.57   男性  20代     2   343.0    9
No.3    男性  20代     1   341.0    3
No.51   女性  20代     1   312.0    6
No.49   男性  20代     1   308.0    3
No.22   女性  20代     1   286.0    9
No.34   男性  20代     1   263.0    8
No.9    男性  20代     1   209.0    1
No.29   男性  20代     1   209.0    4
No.28   女性  20代     1   181.0    2
No.32   女性  30代     1     NaN    5
No.42   男性  NaN     2     NaN    6
No.56   男性  20代     2     NaN    4

In [34]:
df_enq.sort_values(["年代","年収"],ascending=False)

        性別   年代  世帯人数      年収  満足度
回答者No.
No.43   女性  50代     5  1100.0    6
No.59   男性  50代     4   969.0   10
No.6    男性  50代     4   905.0   10
No.30   男性  50代     5   891.0    4
No.5    男性  50代     5   808.0    8
No.45   女性  50代     4   673.0    4
No.39   男性  50代     4   671.0    8
No.53   男性  50代     3   641.0    1
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.16   男性  50代     3   615.0    8
No.27   男性  50代     4   557.0    7
No.17   女性  50代     4   544.0    1
No.13   女性  50代     4   501.0    5
No.23   女性  50代     3   429.0    6
No.44   男性  40代     4  3000.0    2
No.54   男性  40代     5   947.0    6
No.36   女性  40代     5   911.0    8
No.20   男性  40代     5   900.0    9
No.1    男性  40代     4   852.0    7
No.24   男性  40代     4   811.0    3
No.31   男性  40代     4   811.0    3
No.55   女性  40代     4   805.0    9
No.37   男性  40代     4   758.0    6
No.50   男性  40代     2   698.0    1
No.15   女性  40代     3   679.0    6
No.40   女性  40代     4   631.0    7
No.46   女性  40代     3   610.0    6
No.52   女性  40代     3   582.0    3
No.33   男性  40代     4   562.0    7
No.11   男性  40代     4   560.0    6
No.19   男性  40代     3   502.0    6
No.48   女性  40代     3   459.0    3
No.4    女性  40代     2   380.0    5
No.35   男性  30代     4  1203.0    5
No.21   女性  30代     3   707.0    6
No.2    男性  30代     2   529.0    6
No.58   女性  30代     1   510.0    6
No.41   男性  30代     3   485.0    6
No.38   女性  30代     4   470.0    7
No.18   女性  30代     3   443.0    7
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.14   女性  30代     1   391.0    5
No.32   女性  30代     1     NaN    5
No.47   男性  20代     3   521.0    6
No.60   男性  20代     1   448.0    3
No.12   男性  20代     2   403.0    7
No.57   男性  20代     2   343.0    9
No.3    男性  20代     1   341.0    3
No.51   女性  20代     1   312.0    6
No.49   男性  20代     1   308.0    3
No.22   女性  20代     1   286.0    9
No.34   男性  20代     1   263.0    8
No.9    男性  20代     1   209.0    1
No.29   男性  20代     1   209.0    4
No.28   女性  20代     1   181.0    2
No.56   男性  20代     2     NaN    4
No.10   男性  NaN     3   517.0    8
No.42   男性  NaN     2     NaN    6

## 5.CSVへの書き出し

In [36]:
df_enq_temp = df_enq[df_enq["年代"]=="40代"]

In [38]:
df_enq_temp.sort_values("年収")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.4    女性  40代     2   380.0    5
No.48   女性  40代     3   459.0    3
No.19   男性  40代     3   502.0    6
No.11   男性  40代     4   560.0    6
No.33   男性  40代     4   562.0    7
No.52   女性  40代     3   582.0    3
No.46   女性  40代     3   610.0    6
No.40   女性  40代     4   631.0    7
No.15   女性  40代     3   679.0    6
No.50   男性  40代     2   698.0    1
No.37   男性  40代     4   758.0    6
No.55   女性  40代     4   805.0    9
No.24   男性  40代     4   811.0    3
No.31   男性  40代     4   811.0    3
No.1    男性  40代     4   852.0    7
No.20   男性  40代     5   900.0    9
No.36   女性  40代     5   911.0    8
No.54   男性  40代     5   947.0    6
No.44   男性  40代     4  3000.0    2

In [40]:
df_enq_temp.to_csv("結果.csv")

# 第二部：データの集計

## 1.データの集計

In [44]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [45]:
df_enq.describe()

            世帯人数           年収        満足度
count  60.000000    57.000000  60.000000
mean    3.000000   629.789474   5.633333
std     1.288804   392.547847   2.306708
min     1.000000   181.000000   1.000000
25%     2.000000   429.000000   4.000000
50%     3.000000   560.000000   6.000000
75%     4.000000   758.000000   7.000000
max     5.000000  3000.000000  10.000000

In [46]:
df_enq.sum()

C:\Users\Owner\AppData\Local\Temp\ipykernel_11372\2963843613.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_enq.sum()

性別      男性男性男性女性男性男性女性女性男性男性男性男性女性女性女性男性女性女性男性男性女性女性女性...
世帯人数                                                  180
年収                                                35898.0
満足度                                                   338
dtype: object

In [47]:
df_enq.sum(numeric_only=True)

世帯人数      180.0
年収      35898.0
満足度       338.0
dtype: float64

In [51]:
df_enq.mean(numeric_only=True)

世帯人数      3.000000
年収      629.789474
満足度       5.633333
dtype: float64

In [52]:
df_enq.median(numeric_only=True)

世帯人数      3.0
年収      560.0
満足度       6.0
dtype: float64

## 2.条件ごとのデータの集計

In [58]:
df_enq.groupby("性別").mean()

        世帯人数          年収       満足度
性別
女性  2.880000  552.458333  5.600000
男性  3.085714  686.030303  5.657143

In [59]:
df_enq.groupby("性別").mean()["年収"]

性別
女性    552.458333
男性    686.030303
Name: 年収, dtype: float64

In [61]:
df_enq.groupby("年代").mean()[["年収"]]

             年収
年代
20代  318.666667
30代  555.300000
40代  813.578947
50代  703.066667

In [63]:
df_enq.groupby(["性別","年代"]).mean()[["年収"]]adfsafd

                年収
性別 年代
女性 20代  259.666667
   30代  489.000000
   40代  632.125000
   50代  641.285714
男性 20代  338.333333
   30代  654.750000
   40代  945.545455
   50代  757.125000

In [64]:
df_enq.groupby(["性別","年代"]).count()[["年収"]]

        年収
性別 年代
女性 20代   3
   30代   6
   40代   8
   50代   7
男性 20代   9
   30代   4
   40代  11
   50代   8

# 第三部：データの整形

## 1.重複行処理

In [65]:
df_enq.duplicated()

回答者No.
No.1     False
No.2     False
No.3     False
No.4     False
No.5     False
No.6     False
No.7     False
No.8      True
No.9     False
No.10    False
No.11    False
No.12    False
No.13    False
No.14    False
No.15    False
No.16    False
No.17    False
No.18    False
No.19    False
No.20    False
No.21    False
No.22    False
No.23    False
No.24    False
No.25    False
No.26    False
No.27    False
No.28    False
No.29    False
No.30    False
No.31     True
No.32    False
No.33    False
No.34    False
No.35    False
No.36    False
No.37    False
No.38    False
No.39    False
No.40    False
No.41    False
No.42    False
No.43    False
No.44    False
No.45    False
No.46    False
No.47    False
No.48    False
No.49    False
No.50    False
No.51    False
No.52    False
No.53    False
No.54    False
No.55    False
No.56    False
No.57    False
No.58    False
No.59    False
No.60    False
dtype: bool

In [67]:
df_enq[df_enq.duplicated()]
#重複している値の二つ目が出てくる（要するに下のやつ）
#それを消去すれば、キレイになりますよというもの

        性別   年代  世帯人数     年収  満足度
回答者No.
No.8    女性  50代     3  621.0    5
No.31   男性  40代     4  811.0    3

In [69]:
#すべて見たければKeepにFalseを入れる
df_enq[df_enq.duplicated(keep=False)]

        性別   年代  世帯人数     年収  満足度
回答者No.
No.7    女性  50代     3  621.0    5
No.8    女性  50代     3  621.0    5
No.24   男性  40代     4  811.0    3
No.31   男性  40代     4  811.0    3

In [71]:
#重複する上の行を残し、それ以外を削除する
df_enq.drop_duplicates()

##重複する下の行を残し、それ以外を削除する
#df_enq.drop_duplicates(Keep="last")
#重複していた値をすべて消す
#df_enq.drop_duplicates(Keep=False)
#指定した一部の値があったら、消去
#df_enq.drop_duplicates(subset="年収")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

## 2.欠損値処理

In [72]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [73]:
df_enq.dropna()

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [75]:
df_enq.dropna(subset="年代")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [76]:
#どちらかがNanだったら消す
df_enq.dropna(subset=["年代","年収"])

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [78]:
#どちらもNanだったら消す
df_enq.dropna(subset=["年代","年収"],how="all")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [79]:
df_enq.fillna("XXX")

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  XXX     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     XXX    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  XXX     2     XXX    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     XXX    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [84]:
df_enq.fillna({"年代":"不明","年収":df_enq.mean()["年収"]})

C:\Users\Owner\AppData\Local\Temp\ipykernel_11372\797388119.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_enq.fillna({"年代":"不明","年収":df_enq.mean()["年収"]})

        性別   年代  世帯人数           年収  満足度
回答者No.
No.1    男性  40代     4   852.000000    7
No.2    男性  30代     2   529.000000    6
No.3    男性  20代     1   341.000000    3
No.4    女性  40代     2   380.000000    5
No.5    男性  50代     5   808.000000    8
No.6    男性  50代     4   905.000000   10
No.7    女性  50代     3   621.000000    5
No.8    女性  50代     3   621.000000    5
No.9    男性  20代     1   209.000000    1
No.10   男性   不明     3   517.000000    8
No.11   男性  40代     4   560.000000    6
No.12   男性  20代     2   403.000000    7
No.13   女性  50代     4   501.000000    5
No.14   女性  30代     1   391.000000    5
No.15   女性  40代     3   679.000000    6
No.16   男性  50代     3   615.000000    8
No.17   女性  50代     4   544.000000    1
No.18   女性  30代     3   443.000000    7
No.19   男性  40代     3   502.000000    6
No.20   男性  40代     5   900.000000    9
No.21   女性  30代     3   707.000000    6
No.22   女性  20代     1   286.000000    9
No.23   女性  50代     3   429.000000    6
No.24   男性  40代     4   811.000000    3
No.25   女性  30代     3   413.000000    8
No.26   男性  30代     4   402.000000    7
No.27   男性  50代     4   557.000000    7
No.28   女性  20代     1   181.000000    2
No.29   男性  20代     1   209.000000    4
No.30   男性  50代     5   891.000000    4
No.31   男性  40代     4   811.000000    3
No.32   女性  30代     1   629.789474    5
No.33   男性  40代     4   562.000000    7
No.34   男性  20代     1   263.000000    8
No.35   男性  30代     4  1203.000000    5
No.36   女性  40代     5   911.000000    8
No.37   男性  40代     4   758.000000    6
No.38   女性  30代     4   470.000000    7
No.39   男性  50代     4   671.000000    8
No.40   女性  40代     4   631.000000    7
No.41   男性  30代     3   485.000000    6
No.42   男性   不明     2   629.789474    6
No.43   女性  50代     5  1100.000000    6
No.44   男性  40代     4  3000.000000    2
No.45   女性  50代     4   673.000000    4
No.46   女性  40代     3   610.000000    6
No.47   男性  20代     3   521.000000    6
No.48   女性  40代     3   459.000000    3
No.49   男性  20代     1   308.000000    3
No.50   男性  40代     2   698.000000    1
No.51   女性  20代     1   312.000000    6
No.52   女性  40代     3   582.000000    3
No.53   男性  50代     3   641.000000    1
No.54   男性  40代     5   947.000000    6
No.55   女性  40代     4   805.000000    9
No.56   男性  20代     2   629.789474    4
No.57   男性  20代     2   343.000000    9
No.58   女性  30代     1   510.000000    6
No.59   男性  50代     4   969.000000   10
No.60   男性  20代     1   448.000000    3

## 3.形状変換

In [85]:
df_enq

        性別   年代  世帯人数      年収  満足度
回答者No.
No.1    男性  40代     4   852.0    7
No.2    男性  30代     2   529.0    6
No.3    男性  20代     1   341.0    3
No.4    女性  40代     2   380.0    5
No.5    男性  50代     5   808.0    8
No.6    男性  50代     4   905.0   10
No.7    女性  50代     3   621.0    5
No.8    女性  50代     3   621.0    5
No.9    男性  20代     1   209.0    1
No.10   男性  NaN     3   517.0    8
No.11   男性  40代     4   560.0    6
No.12   男性  20代     2   403.0    7
No.13   女性  50代     4   501.0    5
No.14   女性  30代     1   391.0    5
No.15   女性  40代     3   679.0    6
No.16   男性  50代     3   615.0    8
No.17   女性  50代     4   544.0    1
No.18   女性  30代     3   443.0    7
No.19   男性  40代     3   502.0    6
No.20   男性  40代     5   900.0    9
No.21   女性  30代     3   707.0    6
No.22   女性  20代     1   286.0    9
No.23   女性  50代     3   429.0    6
No.24   男性  40代     4   811.0    3
No.25   女性  30代     3   413.0    8
No.26   男性  30代     4   402.0    7
No.27   男性  50代     4   557.0    7
No.28   女性  20代     1   181.0    2
No.29   男性  20代     1   209.0    4
No.30   男性  50代     5   891.0    4
No.31   男性  40代     4   811.0    3
No.32   女性  30代     1     NaN    5
No.33   男性  40代     4   562.0    7
No.34   男性  20代     1   263.0    8
No.35   男性  30代     4  1203.0    5
No.36   女性  40代     5   911.0    8
No.37   男性  40代     4   758.0    6
No.38   女性  30代     4   470.0    7
No.39   男性  50代     4   671.0    8
No.40   女性  40代     4   631.0    7
No.41   男性  30代     3   485.0    6
No.42   男性  NaN     2     NaN    6
No.43   女性  50代     5  1100.0    6
No.44   男性  40代     4  3000.0    2
No.45   女性  50代     4   673.0    4
No.46   女性  40代     3   610.0    6
No.47   男性  20代     3   521.0    6
No.48   女性  40代     3   459.0    3
No.49   男性  20代     1   308.0    3
No.50   男性  40代     2   698.0    1
No.51   女性  20代     1   312.0    6
No.52   女性  40代     3   582.0    3
No.53   男性  50代     3   641.0    1
No.54   男性  40代     5   947.0    6
No.55   女性  40代     4   805.0    9
No.56   男性  20代     2     NaN    4
No.57   男性  20代     2   343.0    9
No.58   女性  30代     1   510.0    6
No.59   男性  50代     4   969.0   10
No.60   男性  20代     1   448.0    3

In [86]:
#データを縦にする
df_enq.melt()

    variable value
0         性別    男性
1         性別    男性
2         性別    男性
3         性別    女性
4         性別    男性
..       ...   ...
295      満足度     4
296      満足度     9
297      満足度     6
298      満足度    10
299      満足度     3

[300 rows x 2 columns]

In [89]:
#転置行列
df_enq.T

回答者No.,No.1,No.2,No.3,No.4,No.5,No.6,No.7,No.8,No.9,No.10,...,No.51,No.52,No.53,No.54,No.55,No.56,No.57,No.58,No.59,No.60
性別,男性,男性,男性,女性,男性,男性,女性,女性,男性,男性,...,女性,女性,男性,男性,女性,男性,男性,女性,男性,男性
年代,40代,30代,20代,40代,50代,50代,50代,50代,20代,NaN,...,20代,40代,50代,40代,40代,20代,20代,30代,50代,20代
世帯人数,4,2,1,2,5,4,3,3,1,3,...,1,3,3,5,4,2,2,1,4,1
年収,852.0,529.0,341.0,380.0,808.0,905.0,621.0,621.0,209.0,517.0,...,312.0,582.0,641.0,947.0,805.0,NaN,343.0,510.0,969.0,448.0
満足度,7,6,3,5,8,10,5,5,1,8,...,6,3,1,6,9,4,9,6,10,3

# 第四部：データの結合

In [92]:
df_person1 = pd.read_csv("personNo_1.csv",index_col="社員番号")
df_person2 = pd.read_csv("personNo_2.csv",index_col="社員番号")

In [93]:
df_person1

       氏名
社員番号
10001  佐藤
10002  鈴木
10003  高橋
10004  田中
10005  伊藤
10006  渡辺
10007  山本
10008  中村
10009  小林
10010  加藤

In [94]:
df_person2

       組織番号    組織名
社員番号
10001  2001    総務部
10002  2001    総務部
10004  2002    人事部
10005  2002    人事部
10006  2002    人事部
10007  2003    法務部
10009  2004  健康管理部
10010  2005  システム部
10011  2005  システム部
10012  2006  人材開発部

In [95]:
#左外部結合（Left Join）
df_person1.join(df_person2)

       氏名    組織番号    組織名
社員番号
10001  佐藤  2001.0    総務部
10002  鈴木  2001.0    総務部
10003  高橋     NaN    NaN
10004  田中  2002.0    人事部
10005  伊藤  2002.0    人事部
10006  渡辺  2002.0    人事部
10007  山本  2003.0    法務部
10008  中村     NaN    NaN
10009  小林  2004.0  健康管理部
10010  加藤  2005.0  システム部

In [96]:
#右外部結合（Right Join）
df_person1.join(df_person2,how="right")

        氏名  組織番号    組織名
社員番号
10001   佐藤  2001    総務部
10002   鈴木  2001    総務部
10004   田中  2002    人事部
10005   伊藤  2002    人事部
10006   渡辺  2002    人事部
10007   山本  2003    法務部
10009   小林  2004  健康管理部
10010   加藤  2005  システム部
10011  NaN  2005  システム部
10012  NaN  2006  人材開発部

In [97]:
#内部結合（Inner Join）
df_person1.join(df_person2,how="inner")

       氏名  組織番号    組織名
社員番号
10001  佐藤  2001    総務部
10002  鈴木  2001    総務部
10004  田中  2002    人事部
10005  伊藤  2002    人事部
10006  渡辺  2002    人事部
10007  山本  2003    法務部
10009  小林  2004  健康管理部
10010  加藤  2005  システム部

In [98]:
#外部結合（Outer Join）
df_person1.join(df_person2,how="outer")

        氏名    組織番号    組織名
社員番号
10001   佐藤  2001.0    総務部
10002   鈴木  2001.0    総務部
10003   高橋     NaN    NaN
10004   田中  2002.0    人事部
10005   伊藤  2002.0    人事部
10006   渡辺  2002.0    人事部
10007   山本  2003.0    法務部
10008   中村     NaN    NaN
10009   小林  2004.0  健康管理部
10010   加藤  2005.0  システム部
10011  NaN  2005.0  システム部
10012  NaN  2006.0  人材開発部

## 2.margeによる結合

In [105]:
df_person = df_person1.join(df_person2,how="outer")
df_section = pd.read_csv("sectionNo.csv",index_col="組織番号")

In [106]:
df_person

        氏名    組織番号    組織名
社員番号
10001   佐藤  2001.0    総務部
10002   鈴木  2001.0    総務部
10003   高橋     NaN    NaN
10004   田中  2002.0    人事部
10005   伊藤  2002.0    人事部
10006   渡辺  2002.0    人事部
10007   山本  2003.0    法務部
10008   中村     NaN    NaN
10009   小林  2004.0  健康管理部
10010   加藤  2005.0  システム部
10011  NaN  2005.0  システム部
10012  NaN  2006.0  人材開発部

In [107]:
df_section

        組織名  責任者  人数
組織番号
2001    総務部   吉田  23
2002    人事部   山田  34
2003    法務部  佐々木  11
2005  システム部   山口  15
2006  人材開発部   松本  13
2007    購買部   井上   9
2008  システム部   木村  22

In [110]:
#キーは組織番号で結合
pd.merge(df_person,df_section,on="組織番号")

    氏名    組織番号  組織名_x  組織名_y  責任者  人数
0   佐藤  2001.0    総務部    総務部   吉田  23
1   鈴木  2001.0    総務部    総務部   吉田  23
2   田中  2002.0    人事部    人事部   山田  34
3   伊藤  2002.0    人事部    人事部   山田  34
4   渡辺  2002.0    人事部    人事部   山田  34
5   山本  2003.0    法務部    法務部  佐々木  11
6   加藤  2005.0  システム部  システム部   山口  15
7  NaN  2005.0  システム部  システム部   山口  15
8  NaN  2006.0  人材開発部  人材開発部   松本  13

In [112]:
#キーを複数設定
pd.merge(df_person,df_section,on=["組織番号","組織名"])

    氏名    組織番号    組織名  責任者  人数
0   佐藤  2001.0    総務部   吉田  23
1   鈴木  2001.0    総務部   吉田  23
2   田中  2002.0    人事部   山田  34
3   伊藤  2002.0    人事部   山田  34
4   渡辺  2002.0    人事部   山田  34
5   山本  2003.0    法務部  佐々木  11
6   加藤  2005.0  システム部   山口  15
7  NaN  2005.0  システム部   山口  15
8  NaN  2006.0  人材開発部   松本  13

In [113]:
#キーを複数設定
pd.merge(df_person,df_section,on=["組織番号","組織名"],how="outer")

     氏名    組織番号    組織名  責任者    人数
0    佐藤  2001.0    総務部   吉田  23.0
1    鈴木  2001.0    総務部   吉田  23.0
2    高橋     NaN    NaN  NaN   NaN
3    中村     NaN    NaN  NaN   NaN
4    田中  2002.0    人事部   山田  34.0
5    伊藤  2002.0    人事部   山田  34.0
6    渡辺  2002.0    人事部   山田  34.0
7    山本  2003.0    法務部  佐々木  11.0
8    小林  2004.0  健康管理部  NaN   NaN
9    加藤  2005.0  システム部   山口  15.0
10  NaN  2005.0  システム部   山口  15.0
11  NaN  2006.0  人材開発部   松本  13.0
12  NaN  2007.0    購買部   井上   9.0
13  NaN  2008.0  システム部   木村  22.0

## 3.concatによる結合

In [114]:
df_person1B = pd.read_csv("personNo_1B.csv",index_col="社員番号")

In [116]:
#上下に結合する場合
pd.concat([df_person1,df_person1B])

       氏名    入社年度
社員番号
10001  佐藤     NaN
10002  鈴木     NaN
10003  高橋     NaN
10004  田中     NaN
10005  伊藤     NaN
10006  渡辺     NaN
10007  山本     NaN
10008  中村     NaN
10009  小林     NaN
10010  加藤     NaN
10011   林  2011.0
10012  斉藤  2016.0
10013  清水  2007.0